<% layout("layouts/boilerplate") %>


<div class="row">
    <div class="alert alert-danger col-6 offset-3 mt-5 text-center" role="alert">
      <strong>Something went wrong, please check!</strong>
      <br><br>
      <img 
        src="https://img.freepik.com/free-vector/oops-404-error-with-broken-robot-concept-illustration_114360-5529.jpg?t=st=1743869384~exp=1743872984~hmac=eb6bfae089f84022228656e69cbd175fa39d569bcd7bbf97d3e7592c0ade1f41&w=826" 
        alt="error image"
        style="max-width: 100%; height: auto; border-radius: 8px; box-shadow: 0 2px 10px rgba(0,0,0,0.1);"
      >
    </div>
  </div>
  